name: Windows Build

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v3
        with:
          msystem: UCRT64
          update: true

      - name: Install GTK4 deps
        run: |
          pacman -S --noconfirm mingw-w64-ucrt-x86_64-pkg-config \
                                   mingw-w64-ucrt-x86_64-gtk4 \
                                   mingw-w64-ucrt-x86_64-glib2

      - name: Add MSYS2 to PATH
        run: echo "C:\\msys64\\ucrt64\\bin" >> $Env:PATH

      - name: Set pkg-config path
        run: echo "PKG_CONFIG_PATH=C:\\msys64\\ucrt64\\lib\\pkgconfig" >> $Env:GITHUB_ENV

      - name: Build
        run: cargo build --verbose
